# MQTTany instance files
mqttany/log

# MQTTany config files
*.yml
!mqttany/config/mqttany.yml

# VSCode settings
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx Docs
build/
copydocs

# Environments
.venv*
