[Unit]
Description=MQTT connector for many things
After=syslog.target network.target

[Service]
Type=simple
;User=
;Group=
WorkingDirectory=/opt/mqttany/mqttany
ExecStart=/usr/bin/python3 mqttany.py
;StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
