[Unit]
Description=MQTTany service
After=syslog.target network.target

[Service]
Type=simple
User=
Group=
WorkingDirectory=/opt/mqttany/mqttany
ExecStart=/usr/bin/python3 mqttany.py
Restart=on-failure
RestartSec=10
TimeoutStopSec=30
;StandardOutput=syslog
;StandardError=syslog

[Install]
WantedBy=multi-user.target
